[Unit]
Description=RPi2mqtt Service
After=network-online.target

[Service]
# replace user with an existing system user
Restart=on-failure
User=pi
ExecStart=/usr/local/bin/rpi2mqtt_event_loop.py

[Install]
WantedBy=multi-user.target