[Unit]
Description=RPi Sensor Service
After=network-online.target

[Service]
# replace user with an existing system user
User=pi
ExecStart=/usr/bin/python /usr/local/bin/rpi_sensor_event_loop.py

[Install]
WantedBy=multi-user.target