CELERY_BROKER: redis://redis:6379/0
CELERY_RESULT_BACKEND: redis://redis:6379/0
CELERY_QUEUE: video_transcode
CELERY_WORKER_NAME: celery@brains
PLEX_LIBRARY_FOLDER: /home/plex
COMCUT_BINARY_PATH: /usr/local/bin/comcut
FFMPEG_BINARY_PATH: /usr/local/bin/ffmpeg
DELETE_SOURCE_AFTER_TRANSCODE: True
DEFAULT_ACTION: comcut_and_transcode
# TASK_LIMIT: 
# hour to start transcoding (24 hr)
SCHEDULE_START: 0
# hour to stop transcoding (24 hr)
SCHEDULE_END: 8